.contact-form {
    width: 80%;            
    max-width: 600px;        
    margin: 50px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px #000000;
}



.contact-form label {
    font-size: 1rem;
    color: #444;
    margin-bottom: 5px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #573F5C;  
    box-shadow: 0 0 8px #573F5C;  
    outline: none;
}

.contact-form button {
    background-color: #573F5C;  
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.contact-form button:hover {
    background-color: #432c47;  
}

.contact-form button:active {
    background-color: #39223b;  
}

.contact-form textarea {
    resize: vertical;
    min-height: 150px;
}
