html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #faf6ff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

header {
    background: #9053b8;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

button {
    background: #9053b8;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #9053b8;
    color: white;
}



.nav-links {
    display: flex;
    gap: 15px; 
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #e79ff9;
    border-radius: 5px;
}

footer {
    background: #9053b8;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#name{
    font-size: 20px;
    color: #e79ff9;
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #573F5C;
    text-align: center;
}

.main-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

footer {
    background-color: #9053b8;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}


@media (max-width: 768px) {
    .contact-form {
        width: 90%;
    }
}
